:root {
    --primario: #ffffff;
    --secundario: #c0c0c0;
    --Botao: #167BF7;
    --cor-de-fundo: #00030c;
    --font-primaria: 'inter';
    --botao-azul-efeito: #9b6bf5;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--primario);
    font-family: var(--font-primaria);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao {
    background-color: var(--Botao); 
    border-radius: 5px;
    padding: 1em;
    color: var(--primario);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container_botao_second {
    background-color: transparent;
    border: 2px solid var(--primario);
}

.container_aviso {
    font-size: 12px;
    color: var(--secundario);

}

.container_titulo {
    font-size: 28px;
    font-weight: 800;
}

.container_imagem {
    margin:  1em 0 2em 0;
}

.container_caixa {
    margin: 0 6em;
}

.secundario_imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao_titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--primario);
    margin-bottom: 0.1em;
}

.descricao_texto {
    color: var(--secundario);
}

.secundario_botao {
    display: inline-block;
    margin-top: 1em;
}

.container_descricao {
    padding: 2em;
}

.dispositivos_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos_titulo {
    font-size: 48px;
    color: var(--primario);
}

.lista_item {
    font-size: 32px;
    color: var(--primario);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}
.rodape__texto {
    margin: 1em 0;
    color: var(--primario);
    margin-left: 1em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}
 .rodape__logo {
    display: block;
    margin: auto;
    align-items: center;
}

.links {
    text-decoration: none;
}